/*Selector de tipo
h1 {
  color: lightcoral;
}
*/
/*Selector de clase*/

/*Selector de Id.
#titulo_id {
  color: hotpink;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

body {
  font-family: "Comfortaa", cursive;
  background-color: #25316d;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas,
.tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-makepon {
  width: 180px;
  height: 100px;
  background: #5f6f94;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fef5ac;
}

.tarjeta-de-makepon img {
  width: 80px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Comfortaa", cursive;
  margin-top: 30px;
}

input {
  display: none;
}

input:checked + label {
  width: 180px;
  background: #97d2ec;
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background: #5f6f94;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #fef5ac;
  border-color: transparent;
  width: 180px;
  font-family: "Comfortaa", cursive;
}

#mensajes {
  width: 280px;
  background: #97d2ec;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  background-color: #5f6f94;
  color: #fef5ac;
  font-family: "Comfortaa", cursive;
  border-radius: 20px;
  padding: 10px;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
}

#vidas-jugador,
#vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
  color: #fef5ac;
}

.ataques-jugador,
.ataques-enemigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media (max-width: 360px) {
  .tarjetas,
  .tarjetas-ataques {
    flex-direction: column;
  }
}
