/*Selector de tipo
h1 {
  color: lightcoral;
}
*/
/*Selector de clase*/

/*Selector de Id.
#titulo_id {
  color: hotpink;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

body {
  font-family: "Comfortaa", cursive;
  background-color: #25316d;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-makepon {
  width: 180px;
  height: 100px;
  background: #5f6f94;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fef5ac;
}

.tarjeta-de-makepon img {
  width: 80px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Comfortaa", cursive;
  margin-top: 30px;
}

input {
  display: none;
}
